body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #444;
  height: 100px;
}

nav {
  width: 960px;
  margin: auto;
}

header img {
  margin-top: 15px;
  float: left;
}

header span {
  display: inline-block;
  line-height: 100px;
  margin-left: 90px;
}

header span:nth-child(2) {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #aaa;
}

main {
  width: 960px;
  margin: auto;
}

main img {
  margin-top: 30px;
}

main li:first-child {
  margin-left: 0px;
}

main li {
  margin-left: 30px;
  float: left;
}

main article {
  width: 50%;
  float: right;
  margin-top: 30px;
}

main h2 {
  margin-left: 30px;
  font-size: 20px;
}

main p {
  height: 330px;
  overflow: auto;
  margin-top: 5px;
  margin-left: 30px;
  font-style: italic;
  line-height: 20px;
}

article div {
  background-color: #111;
  color: #eee;
  margin-top: 5px;
  margin-left: 30px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}

article div:hover {
  background-color: aquamarine;
  transition: 350ms;
}

footer {
  background-color: #444;
  height: 130px;
  margin-top: 30px;
}